.videoFooter {
	position: relative;
	bottom: 150px;
	margin-left: 40px;
	display: flex;
}

.videoFooter__text {
	flex: 1;
	color: white;
}

.videoFooter__record {
	animation: app-spin 5s infinite linear;
	height: 50px;
	filter: invert(1);
	position: absolute;
	bottom: 0;
	right: 20px;
}

.videoFooter__text > p {
	padding-bottom: 20px;
}

.videoFooter__icon {
	position: absolute;
}

.videoFooter__ticker {
	display: flex;
}

.videoFooter__ticker > .ticker {
	height: fit-content;
	margin-left: 24px;
	width: 60%;
}

.videoFooter__ticker h1 {
	padding-top: 7px;
}

@keyframes app-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
